taoAltResultStorage/
taoItems/
taoQtiTestPreviewer/
composer.lock
taoBackOffice/
taoLti/
taoResultServer/
funcAcl/
taoCe/
taoLtiBasicOutcome/
taoRevision/
generis/
taoClientDiagnostic/
taoMediaManager/
taoTaskQueue/
ltiDeliveryProvider/
taoDacSimple/
taoOutcomeRds/
taoTestTaker/
pciSamples/
taoDelivery/
taoOutcomeUi/
taoTests/
qtiItemPci/
taoDeliveryRdf/
taoProctoring/
vendor/
qtiItemPic/
taoEventLog/
taoQtiItem/
tao/
taoGroups/
taoQtiTest/