taoAltResultStorage/
taoItems/
taoQtiTestPreviewer/
composer.lock
taoBackOffice/
taoLti/
taoResultServer/
funcAcl/
taoCe/
taoLtiBasicOutcome/
taoRevision/
generis/
taoClientDiagnostic/
taoMediaManager/
taoTaskQueue/
ltiDeliveryProvider/
taoDacSimple/
taoOutcomeRds/
taoTestTaker/
pciSamples/
taoDelivery/
taoOutcomeUi/
taoTests/
qtiItemPci/
taoDeliveryRdf/
taoProctoring/
vendor/
qtiItemPic/
taoEventLog/
taoQtiItem/
tao/
taoGroups/
taoQtiTest/
/docker-compose.yml
/fdl-1.3.txt
gpl-2.0.txt
/hello.php
/index.php
/phpunit
/phpunit.xml
/tests
/loadTesting/JMeter/jmx/jmeter.log